@keyframes popUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Main Section Container */
.section__container {
    padding: 100px 60px 60px;
    max-width: 100%;
    margin: 0 auto;
}

/* Experience Cards */
.card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #dddddd;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin-bottom: 20px;

    animation: popUp 0.5s ease-out;
    max-width: 200%;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Card Header */
.card h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(255, 88, 88);
}

.card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

/* Card Body */
.card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

/* Card Footer */
.card time {
    display: block;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 10px;
}